#exportPattern("^[[:alpha:]]+")
useDynLib("MTDSemiPKPD")
importFrom("Rcpp", "sourceCpp")
importFrom("stats", "optim", "rbinom", "rnorm", "uniroot", "window")
importFrom("utils", "tail")
export(next_MTD)
export(select_MTD)
export(get_OC_MTD)
#export(Simulate_Data_OneSub_MTD)
